.home {
	padding: 20px;
	p {
		color: red;
		font-size: 20px;
		text-transform: uppercase;
		font-family: $secondary-font;
		line-height: 20px;
		padding: 20px;
		font-style: italic;
		margin-top: 10px;
		font-weight: 300;
		text-align:	center;
	}
}